version: 2.1

orbs:
  python: circleci/python@1.5.0
  py: nic30/python-all-in-1@0.2.47

jobs:
  install-test-deploy:
    executor: python/default
    resource_class: small
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo apt install -y nodejs npm
      - run:
          command: |
            node -v;
            npm -v;
      # - python/load-cache
      - py/install-setup-py
      # - python/save-cache
      - py/test-and-coverage
      - py/deploy-pypi-on-tag

workflows:
  main:
    jobs:
      - install-test-deploy:
          context:
            - pypi
          filters:
            tags:
              only: /.*/
